#  1+2 조 실습

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df = pd.read_csv("C:/Users/prokj/Documents/GitHub/aiffel/7week/data/vgsales_lecture.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  object
 4   Genre         16598 non-null  object
 5   Publisher     16335 non-null  object
 6   NA_Sales      12099 non-null  float64
 7   EU_Sales      10870 non-null  float64
 8   JP_Sales      6141 non-null   float64
 9   Other_Sales   10123 non-null  float64
 10  Global_Sales  16596 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.4+ MB

In [5]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [6]:
df.nunique()

Rank            16598
Name            11493
Platform           33
Year               40
Genre              14
Publisher         577
NA_Sales          408
EU_Sales          304
JP_Sales          243
Other_Sales       156
Global_Sales      623
dtype: int64

In [7]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [8]:

for i in df.columns:
    print(str(i), '컬럼의 고유한 값들 모음')
    print(df[i].unique())
    print('*'*50)

Rank 컬럼의 고유한 값들 모음
[    1     2     3 ... 16598 16599 16600]
**************************************************
Name 컬럼의 고유한 값들 모음
['Wii Sports' 'Super Mario Bros.' 'Mario Kart Wii' ... 'Plushees'
 'Woody Woodpecker in Crazy Castle 5' 'Know How 2']
**************************************************
Platform 컬럼의 고유한 값들 모음
['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' '3DS' 'PS4' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'GC' 'WiiU' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '2007' '3DO' 'GG' '2010' 'PCFX']
**************************************************
Year 컬럼의 고유한 값들 모음
['2006' '1985' '2008' '2009' '1996' '1989' '1984' '2005' '1999' '2007'
 '2010' '2013' '2004' '1990' '1988' '2002' '2001' '2011' '1998' '2015'
 '2012' '2014' '1992' '1997' '1993' '1994' '1982' '2003' '1986' '2000' nan
 '1995' '2016' '1991' '1981' '1987' '1980' '1983' '2020' 'Adventure'
 '2017']
**************************************************
Genre 컬럼의 고유한 값들 모음
['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy'
 'Sony Computer Entertainment' 'Idea Factory']
**************************************************
Publisher 컬럼의 고유한 값들 모음
['Nintendo' 'Microsoft Game Studios' 'Take-Two Interactive'
 'Sony Computer Entertainment' 'Activision' 'Ubisoft' 'Bethesda Softworks'
 'Electronic Arts' 'Sega' 'SquareSoft' 'Atari' '505 Games' 'Capcom'
 'GT Interactive' 'Konami Digital Entertainment'
 'Sony Computer Entertainment Europe' 'Square Enix' 'LucasArts'
 'Virgin Interactive' 'Warner Bros. Interactive Entertainment'
 'Universal Interactive' 'Eidos Interactive' 'RedOctane' 'Vivendi Games'
 'Enix Corporation' 'Namco Bandai Games' 'Palcom' 'Hasbro Interactive'
 'THQ' 'Fox Interactive' 'Acclaim Entertainment' 'MTV Games'
 'Disney Interactive Studios' nan 'Majesco Entertainment' 'Codemasters'
 'Red Orb' 'Level 5' 'Arena Entertainment' 'Midway Games' 'JVC'
 'Deep Silver' '989 Studios' 'NCSoft' 'UEP Systems' 'Parker Bros.' 'Maxis'
 'Imagic' 'Tecmo Koei' 'Valve Software' 'ASCII Entertainment' 'Mindscape'
 'Infogrames' 'Square' 'Valve' 'Activision Value' 'Banpresto'
 'D3Publisher' 'Oxygen Interactive' 'Red Storm Entertainment'
 'Video System' 'Hello Games' 'Global Star' 'Gotham Games'
 'Westwood Studios' 'GungHo' 'Crave Entertainment' 'Hudson Soft' 'Coleco'
 'Rising Star Games' 'Atlus' 'TDK Mediactive' 'ASC Games' 'Zoo Games'
 'Accolade' 'Sony Online Entertainment' '3DO' 'RTL' 'Natsume'
 'Focus Home Interactive' 'Alchemist' 'Black Label Games'
 'SouthPeak Games' 'Mastertronic' 'Ocean' 'Zoo Digital Publishing'
 'Psygnosis' 'City Interactive' 'Empire Interactive' 'Success' 'Compile'
 'Russel' 'Taito' 'Agetec' 'GSP' 'Microprose' 'Play It'
 'Slightly Mad Studios' 'Tomy Corporation' 'Sammy Corporation'
 'Koch Media' 'Game Factory' 'Titus' 'Marvelous Entertainment' 'Genki'
 'Mojang' 'Pinnacle' 'CTO SpA' 'TalonSoft' 'Crystal Dynamics' 'SCi'
 'Quelle' 'mixi, Inc' 'Rage Software' 'Ubisoft Annecy' 'Scholastic Inc.'
 'Interplay' 'Mystique' 'ChunSoft' 'Square EA'
 '20th Century Fox Video Games' 'Avanquest Software'
 'Hudson Entertainment' 'Nordic Games' 'Men-A-Vision' 'Nobilis'
 'Big Ben Interactive' 'Touchstone' 'Spike' 'Jester Interactive'
 'Nippon Ichi Software' 'LEGO Media' 'Quest' 'Illusion Softworks'
 'Tigervision' 'Funbox Media' 'Rocket Company' 'Metro 3D'
 'Mattel Interactive' 'IE Institute' 'Rondomedia'
 'Sony Computer Entertainment America' 'Universal Gamex' 'Ghostlight'
 'Wizard Video Games' 'BMG Interactive Entertainment' 'PQube'
 'Trion Worlds' 'Laguna' 'Ignition Entertainment' 'Takara'
 'Kadokawa Shoten' 'Destineer' 'Enterbrain' 'Xseed Games' 'Imagineer'
 'System 3 Arcade Software' 'CPG Products' 'Aruze Corp' 'Gamebridge'
 'Midas Interactive Entertainment' 'Jaleco' 'Answer Software' 'XS Games'
 'Activision Blizzard' 'Pack In Soft' 'Rebellion' 'Xplosiv' 'Ultravision'
 'GameMill Entertainment' 'Wanadoo' 'NovaLogic' 'Telltale Games' 'Epoch'
 'BAM! Entertainment' 'Knowledge Adventure' 'Mastiff' 'Tetris Online'
 'Harmonix Music Systems' 'ESP' 'TYO' 'Telegames' 'Mud Duck Productions'
 'Screenlife' 'Pioneer LDC' 'Magical Company' 'Mentor Interactive' 'Kemco'
 'Human Entertainment' 'Avanquest' 'Data Age' 'Electronic Arts Victor'
 'Black Bean Games' 'Jack of All Games' '989 Sports' 'Takara Tomy'
 'Media Rings' 'Elf' 'Kalypso Media' 'Starfish' 'Zushi Games' 'Jorudan'
 'Destination Software, Inc' 'New' 'Brash Entertainment'
 'ITT Family Games' 'PopCap Games' 'Home Entertainment Suppliers'
 'Ackkstudios' 'Starpath Corp.' 'P2 Games' 'BPS' 'Gathering of Developers'
 'NewKidCo' 'Storm City Games' 'CokeM Interactive' 'CBS Electronics'
 'Magix' 'Marvelous Interactive' 'Nihon Falcom Corporation'
 'Wargaming.net' 'Angel Studios' 'Arc System Works' 'Playmates'
 'SNK Playmore' 'Hamster Corporation' 'From Software' 'Nippon Columbia'
 'Nichibutsu' 'Little Orbit' 'Conspiracy Entertainment'
 'DTP Entertainment' 'Hect' 'Mumbo Jumbo' 'Pacific Century Cyber Works'
 'Indie Games' 'Liquid Games' 'NEC' 'Axela' 'ArtDink' 'Sunsoft' 'Gust'
 'SNK' 'NEC Interchannel' 'FuRyu' 'Xing Entertainment' 'ValuSoft'
 'Victor Interactive' 'Detn8 Games' 'American Softworks' 'Nordcurrent'
 'Bomb' 'Falcom Corporation' 'AQ Interactive' 'CCP' 'Milestone S.r.l.'
 'Sears' 'JoWood Productions' 'Seta Corporation' 'On Demand' 'NCS' 'Aspyr'
 'Gremlin Interactive Ltd' 'Agatsuma Entertainment' 'Compile Heart'
 'Culture Brain' 'Mad Catz' 'Shogakukan' 'Merscom LLC'
 'Rebellion Developments' 'Nippon Telenet' 'TDK Core' 'bitComposer Games'
 'Foreign Media Games' 'Astragon' 'SSI' 'Kadokawa Games' 'Idea Factory'
 'Performance Designed Products' 'Asylum Entertainment' 'Core Design Ltd.'
 'PlayV' 'UFO Interactive' 'Idea Factory International'
 'Playlogic Game Factory' 'Essential Games' 'Adeline Software' 'Funcom'
 'Panther Software' 'Blast! Entertainment Ltd' 'Game Life' 'DSI Games'
 'Avalon Interactive' 'Popcorn Arcade' 'Neko Entertainment'
 'Vir2L Studios' 'Aques' 'Syscom' 'White Park Bay Software' 'System 3'
 'Vatical Entertainment' 'Daedalic' 'EA Games' 'Media Factory' 'Vic Tokai'
 'The Adventure Company' 'Game Arts' 'Broccoli' 'Acquire'
 'General Entertainment' 'Excalibur Publishing' 'Imadio'
 'Swing! Entertainment' 'Sony Music Entertainment' 'Aqua Plus'
 'Paradox Interactive' 'Hip Interactive' 'DreamCatcher Interactive'
 'Tripwire Interactive' 'Sting' 'Yacht Club Games' 'SCS Software'
 'Bigben Interactive' 'Havas Interactive' 'Slitherine Software' 'Graffiti'
 'Funsta' 'Telstar' 'U.S. Gold' 'DreamWorks Interactive'
 'Data Design Interactive' 'MTO' 'DHM Interactive' 'FunSoft' 'SPS'
 'Bohemia Interactive' 'Reef Entertainment' 'Tru Blu Entertainment' 'Moss'
 'T&E Soft' 'O-Games' 'Aksys Games' 'NDA Productions' 'Data East'
 'Time Warner Interactive' 'Gainax Network Systems' 'Daito'
 'O3 Entertainment' 'Gameloft' 'Xicat Interactive'
 'Simon & Schuster Interactive' 'Valcon Games' 'PopTop Software' 'TOHO'
 'HMH Interactive' '5pb' 'Cave' 'CDV Software Entertainment' 'Microids'
 'PM Studios' 'Paon' 'Micro Cabin' 'GameTek' 'Benesse' 'Type-Moon'
 'Enjoy Gaming ltd.' 'Asmik Corp' 'Interplay Productions'
 'Asmik Ace Entertainment' 'inXile Entertainment' 'Image Epoch'
 'Phantom EFX' 'Evolved Games' 'responDESIGN' 'Culture Publishers'
 'Griffin International' 'Hackberry' 'Hearty Robin' 'Nippon Amuse'
 'Origin Systems' 'Seventh Chord' 'Mitsui' 'Milestone' 'Abylight'
 'Flight-Plan' 'Glams' 'Locus' 'Warp' 'Daedalic Entertainment'
 'Alternative Software' 'Myelin Media' 'Mercury Games'
 'Irem Software Engineering' 'Sunrise Interactive' 'Elite'
 'Evolution Games' 'Tivola' 'Global A Entertainment' 'Edia' 'Athena'
 'Aria' 'Gamecock' 'Tommo' 'Altron' 'Happinet' 'iWin' 'Media Works'
 'Fortyfive' 'Revolution Software' 'Imax' 'Crimson Cow' '10TACLE Studios'
 'Groove Games' 'Pack-In-Video' 'Insomniac Games'
 'Ascaron Entertainment GmbH' 'Asgard' 'Ecole' 'Yumedia' 'Phenomedia'
 'HAL Laboratory' 'Grand Prix Games' 'DigiCube' 'Creative Core'
 'Kaga Create' 'WayForward Technologies' 'LSP Games' 'ASCII Media Works'
 'Coconuts Japan' 'Arika' 'Ertain' 'Marvel Entertainment' 'Prototype'
 'TopWare Interactive' 'Phantagram' '1C Company' 'The Learning Company'
 'TechnoSoft' 'Vap' 'Misawa' 'Tradewest' 'Team17 Software' 'Yeti' 'Pow'
 'Navarre Corp' 'MediaQuest' 'Max Five' 'Comfort'
 'Monte Christo Multimedia' 'Pony Canyon' 'Riverhillsoft' 'Summitsoft'
 'Milestone S.r.l' 'Playmore' 'MLB.com' 'Kool Kizz' 'Flashpoint Games'
 '49Games' 'Legacy Interactive' 'Alawar Entertainment' 'CyberFront'
 'Cloud Imperium Games Corporation' 'Societa' 'Virtual Play Games'
 'Interchannel' 'Sonnet' 'Experience Inc.' 'Zenrin' 'Iceberg Interactive'
 'Ivolgamus' '2D Boy' 'MC2 Entertainment' 'Kando Games' 'Just Flight'
 'Office Create' 'Mamba Games' 'Fields' 'Princess Soft'
 'Maximum Family Games' 'Berkeley' 'Fuji' 'Dusenberry Martin Racing'
 'imageepoch Inc.' 'Big Fish Games' 'Her Interactive' 'Kamui' 'ASK'
 'Headup Games' 'KSS' 'Cygames' 'KID' 'Quinrose' 'Sunflowers'
 'dramatic create' 'TGL' 'Encore' 'Extreme Entertainment Group'
 'Intergrow' 'G.Rev' 'Sweets' 'Kokopeli Digital Studios' 'Number None'
 'Nexon' 'id Software' 'BushiRoad' 'Tryfirst' 'Strategy First' '7G//AMES'
 'GN Software' "Yuke's" 'Easy Interactive' 'Licensed 4U'
 'FuRyu Corporation' 'Lexicon Entertainment' 'Paon Corporation'
 'Kids Station' 'GOA' 'Graphsim Entertainment' 'King Records'
 'Introversion Software' 'Minato Station' 'Devolver Digital' 'Blue Byte'
 'Gaga' 'Yamasa Entertainment' 'Plenty' 'Views' 'fonfun' 'NetRevo'
 'Codemasters Online' 'Quintet' 'Phoenix Games' 'Dorart' 'Marvelous Games'
 'Focus Multimedia' 'Imageworks' 'Karin Entertainment' 'Aerosoft'
 'Technos Japan Corporation' 'Gakken' 'Mirai Shounen' 'Datam Polystar'
 'Saurus' 'HuneX' 'Revolution (Japan)' 'Giza10' 'Visco' 'Alvion' 'Mycom'
 'Giga' 'Warashi' 'System Soft' 'Sold Out' 'Lighthouse Interactive'
 'Masque Publishing' 'RED Entertainment' 'Michaelsoft'
 'Media Entertainment' 'New World Computing' 'Genterprise'
 'Interworks Unlimited, Inc.' 'Boost On' 'Stainless Games'
 'EON Digital Entertainment' 'Epic Games' 'Naxat Soft'
 'Ascaron Entertainment' 'Piacci' 'Nitroplus' 'Paradox Development'
 'Otomate' 'Ongakukan' 'Commseed' 'Inti Creates' 'Takuyo'
 'Interchannel-Holon' 'Rain Games' 'UIG Entertainment']
**************************************************
NA_Sales 컬럼의 고유한 값들 모음
[4.149e+01 2.908e+01 1.585e+01 1.575e+01 1.127e+01 2.320e+01 1.138e+01
 1.403e+01 1.459e+01 2.693e+01 9.070e+00 9.810e+00 9.000e+00 8.940e+00
 9.090e+00 1.497e+01 7.010e+00 9.430e+00 1.278e+01 4.750e+00 6.420e+00
 1.083e+01 9.540e+00 9.630e+00 8.410e+00 6.060e+00 5.570e+00 3.440e+00
 6.850e+00 9.030e+00 5.890e+00 9.670e+00 5.170e+00 5.770e+00 4.990e+00
 8.250e+00 8.520e+00 5.540e+00 6.990e+00 6.750e+00 5.980e+00 2.550e+00
 4.740e+00 7.970e+00 3.800e+00 4.400e+00 6.910e+00 3.010e+00 6.160e+00
 4.230e+00 6.760e+00 4.020e+00 4.890e+00 2.960e+00 4.760e+00 5.990e+00
 4.340e+00 5.080e+00 6.050e+00 6.720e+00 7.030e+00 5.550e+00 3.660e+00
 6.630e+00 4.090e+00 5.840e+00 3.880e+00 5.910e+00 4.360e+00 5.580e+00
 2.010e+00 4.460e+00 5.030e+00 3.540e+00 1.110e+00 1.790e+00 6.820e+00
 3.810e+00 2.910e+00 1.060e+00 9.800e-01 5.800e+00 2.580e+00 2.280e+00
 2.820e+00 7.280e+00 2.900e+00 2.930e+00 2.800e+00 4.100e+00 3.780e+00
 5.390e+00 3.240e+00 4.790e+00 3.830e+00 4.520e+00 3.510e+00 2.850e+00
 3.270e+00 3.680e+00 4.410e+00 3.130e+00 2.470e+00 4.120e+00 4.140e+00
 7.800e-01 2.710e+00 2.770e+00 3.230e+00 3.500e+00 4.150e+00 3.100e+00
 8.400e-01 1.670e+00 2.790e+00 7.900e-01 3.250e+00 3.740e+00 2.640e+00
 4.980e+00 2.570e+00 3.640e+00 3.700e+00 4.010e+00 7.000e-02 3.110e+00
 3.920e+00 4.050e+00 2.450e+00 4.470e+00 2.630e+00 3.180e+00 2.410e+00
 1.880e+00 6.600e-01 2.260e+00 2.490e+00 2.970e+00 2.540e+00 2.950e+00
 3.280e+00 2.700e+00 2.990e+00 4.700e-01 3.140e+00 2.620e+00 3.210e+00
 2.720e+00 2.070e+00 1.970e+00 1.740e+00 2.180e+00 3.020e+00 1.620e+00
 1.920e+00 3.330e+00 1.220e+00 2.300e+00 4.260e+00 6.500e-01 2.430e+00
 2.320e+00 1.080e+00 1.900e+00 2.100e+00 9.600e-01 1.640e+00 1.980e+00
 3.590e+00 3.220e+00 1.960e+00 2.660e+00 1.700e+00 6.000e-01 3.400e+00
 2.050e+00 3.420e+00 2.590e+00 3.360e+00 3.060e+00 3.490e+00 3.390e+00
 1.850e+00 2.310e+00 3.980e+00 2.890e+00       nan 2.740e+00 2.560e+00
 1.910e+00 5.700e-01 2.800e-01 2.360e+00 1.730e+00 3.050e+00 1.870e+00
 1.940e+00 2.080e+00 2.290e+00 2.420e+00 2.600e+00 1.890e+00 1.780e+00
 1.550e+00 3.190e+00 4.180e+00 4.210e+00 3.630e+00 2.000e-01 1.540e+00
 2.670e+00 1.000e-01 2.190e+00 2.030e+00 3.030e+00 2.200e+00 9.200e-01
 2.750e+00 4.000e+00 2.510e+00 2.110e+00 2.230e+00 1.410e+00 3.000e+00
 1.460e+00 8.800e-01 1.300e+00 1.280e+00 2.250e+00 2.020e+00 3.380e+00
 2.040e+00 3.790e+00 1.400e+00 4.030e+00 1.650e+00 7.100e-01 2.140e+00
 1.420e+00 2.130e+00 2.650e+00 2.350e+00 1.200e-01 1.680e+00 1.120e+00
 2.780e+00 1.380e+00 2.150e+00 1.180e+00 1.330e+00 6.700e-01 1.530e+00
 1.150e+00 9.300e-01 2.120e+00 2.480e+00 1.600e-01 8.700e-01 2.210e+00
 1.440e+00 1.490e+00 1.140e+00 2.400e+00 1.820e+00 1.370e+00 1.930e+00
 5.800e-01 1.590e+00 2.530e+00 2.330e+00 5.000e-02 1.610e+00 2.380e+00
 1.570e+00 1.560e+00 1.230e+00 1.660e+00 1.170e+00 2.840e+00 5.900e-01
 2.090e+00 2.390e+00 1.340e+00 1.130e+00 8.600e-01 1.750e+00 4.600e-01
 1.430e+00 1.630e+00 1.450e+00 1.470e+00 1.990e+00 1.500e+00 8.000e-01
 1.360e+00 5.000e-01 2.500e-01 9.500e-01 1.270e+00 3.000e-02 1.720e+00
 7.300e-01 1.760e+00 1.350e+00 1.480e+00 1.520e+00 1.860e+00 2.060e+00
 6.800e-01 9.100e-01 1.690e+00 8.000e-02 1.290e+00 2.170e+00 2.500e+00
 1.010e+00 1.580e+00 1.040e+00 2.220e+00 1.830e+00 6.100e-01 1.840e+00
 9.900e-01 1.510e+00 9.000e-02 4.000e-01 2.520e+00 1.320e+00 2.000e-02
 1.050e+00 2.900e-01 1.190e+00 8.900e-01 3.000e-01 1.200e+00 1.240e+00
 1.250e+00 1.070e+00 1.020e+00 6.900e-01 1.950e+00 2.000e+00 7.600e-01
 6.300e-01 9.000e-01 4.800e-01 6.400e-01 3.700e-01 1.310e+00 1.500e-01
 1.210e+00 4.900e-01 1.300e-01 1.810e+00 1.260e+00 8.100e-01 7.700e-01
 1.000e+00 1.160e+00 1.390e+00 8.500e-01 5.200e-01 5.100e-01 3.800e-01
 6.200e-01 1.090e+00 1.710e+00 1.030e+00 3.400e-01 1.600e+00 5.400e-01
 1.400e-01 1.000e-02 8.200e-01 8.300e-01 1.100e-01 9.400e-01 1.770e+00
 7.000e-01 9.700e-01 7.500e-01 3.500e-01 7.200e-01 7.400e-01 1.800e-01
 1.100e+00 5.600e-01 2.600e-01 2.100e-01 2.200e-01 5.300e-01 5.500e-01
 2.300e-01 3.900e-01 3.200e-01 4.500e-01 4.100e-01 3.100e-01 2.400e-01
 6.000e-02 4.300e-01 4.400e-01 1.900e-01 4.000e-02 1.700e-01 3.600e-01
 3.300e-01 2.700e-01 4.200e-01]
**************************************************
EU_Sales 컬럼의 고유한 값들 모음
[2.902e+01 3.580e+00 1.288e+01 1.101e+01 8.890e+00 2.260e+00 9.230e+00
 9.200e+00 7.060e+00 6.300e-01 1.100e+01 7.570e+00 6.180e+00 8.030e+00
 8.590e+00 4.940e+00 9.270e+00 4.000e-01 3.750e+00 9.260e+00 4.520e+00
 2.710e+00 3.440e+00 5.310e+00 5.490e+00 3.900e+00 3.280e+00 5.360e+00
 5.090e+00 4.280e+00 5.040e+00 3.730e+00 4.050e+00 5.810e+00 5.880e+00
 4.300e+00 3.630e+00 5.820e+00 4.510e+00 2.610e+00 4.440e+00 3.520e+00
 3.910e+00 2.830e+00 2.770e+00 2.850e+00 1.000e-02 3.400e+00 3.370e+00
 2.040e+00 3.100e+00 3.870e+00 2.990e+00 4.880e+00 3.690e+00 3.760e+00
 2.150e+00 2.650e+00 3.110e+00 3.150e+00 2.630e+00 1.980e+00 1.940e+00
 3.070e+00 2.360e+00 2.470e+00 2.890e+00 3.420e+00 2.380e+00 1.710e+00
 2.320e+00 1.880e+00 2.860e+00 1.240e+00 6.060e+00 3.530e+00 1.530e+00
 2.300e+00 1.860e+00 5.050e+00 6.420e+00 2.010e+00 2.070e+00 1.720e+00
 1.780e+00 4.500e-01 2.420e+00 3.290e+00 3.300e+00 1.890e+00 2.170e+00
 1.180e+00 1.350e+00 1.900e+00 2.130e+00 2.190e+00 2.090e+00 3.030e+00
 2.930e+00 2.220e+00 1.750e+00 1.040e+00 1.770e+00 2.210e+00 4.320e+00
 3.020e+00 2.750e+00 2.800e+00 2.350e+00 2.640e+00 1.920e+00 2.250e+00
 2.780e+00 4.290e+00 1.840e+00 9.300e-01 2.560e+00 1.300e+00 1.580e+00
 1.200e+00 1.560e+00 1.970e+00 1.260e+00 8.300e-01 6.210e+00 1.620e+00
 1.740e+00 1.830e+00 2.280e+00       nan 2.050e+00 6.900e-01 1.630e+00
 1.470e+00 1.950e+00 6.000e-01 1.650e+00 1.910e+00 5.700e-01 1.640e+00
 1.110e+00 1.870e+00 2.290e+00 2.510e+00 9.600e-01 1.120e+00 7.700e-01
 1.080e+00 7.900e-01 2.480e+00 2.460e+00 2.600e-01 7.500e-01 1.250e+00
 9.800e-01 3.480e+00 7.400e-01 2.020e+00 2.230e+00 6.100e-01 1.690e+00
 1.430e+00 1.160e+00 1.380e+00 1.060e+00 1.360e+00 1.030e+00 1.730e+00
 1.540e+00 9.900e-01 1.680e+00 2.000e+00 3.140e+00 1.570e+00 1.310e+00
 2.100e+00 1.410e+00 9.100e-01 1.990e+00 1.390e+00 1.150e+00 9.200e-01
 2.400e-01 1.510e+00 1.400e-01 1.290e+00 2.390e+00 1.050e+00 5.000e-01
 1.790e+00 5.800e-01 1.270e+00 1.340e+00 1.020e+00 2.270e+00 2.550e+00
 2.790e+00 4.400e-01 4.800e-01 2.700e-01 2.100e-01 5.100e-01 1.500e+00
 1.520e+00 4.000e-02 1.280e+00 1.550e+00 2.120e+00 2.800e-01 8.900e-01
 1.960e+00 7.600e-01 1.170e+00 4.900e-01 1.610e+00 1.140e+00 6.500e-01
 1.440e+00 1.930e+00 1.370e+00 1.400e+00 8.800e-01 7.300e-01 1.220e+00
 1.130e+00 8.100e-01 9.700e-01 1.800e+00 1.090e+00 6.800e-01 1.420e+00
 6.700e-01 2.400e+00 1.330e+00 1.210e+00 1.660e+00 9.400e-01 3.900e-01
 3.800e-01 1.010e+00 1.070e+00 1.590e+00 1.900e-01 2.110e+00 3.000e-01
 1.000e-01 7.200e-01 8.700e-01 5.600e-01 1.600e-01 8.600e-01 6.200e-01
 1.000e+00 8.200e-01 8.400e-01 6.400e-01 8.000e-01 4.700e-01 3.200e-01
 7.100e-01 1.850e+00 2.430e+00 5.500e-01 5.300e-01 9.000e-02 1.190e+00
 7.000e-02 2.000e-01 7.000e-01 2.200e-01 2.900e-01 1.700e-01 5.400e-01
 3.600e-01 3.100e-01 5.200e-01 1.100e-01 1.200e-01 1.100e+00 4.600e-01
 8.000e-02 5.900e-01 2.300e-01 7.800e-01 2.000e-02 8.500e-01 3.400e-01
 2.500e-01 1.800e-01 1.490e+00 1.500e-01 1.300e-01 9.000e-01 4.100e-01
 3.000e-02 3.700e-01 5.000e-02 3.300e-01 4.200e-01 6.000e-02 9.500e-01
 1.230e+00 6.600e-01 4.300e-01 3.500e-01]
**************************************************
JP_Sales 컬럼의 고유한 값들 모음
[3.770e+00 6.810e+00 3.790e+00 3.280e+00 1.022e+01 4.220e+00 6.500e+00
 2.930e+00 4.700e+00 2.800e-01 1.930e+00 4.130e+00 7.200e+00 3.600e+00
 2.530e+00 2.400e-01 9.700e-01 4.100e-01 3.540e+00 4.160e+00 6.040e+00
 4.180e+00 3.840e+00 6.000e-02 4.700e-01 5.380e+00 5.650e+00 5.320e+00
 1.870e+00 1.300e-01 3.120e+00 1.100e-01 4.340e+00 3.500e-01 6.500e-01
 7.000e-02 8.000e-02 4.900e-01 3.000e-01 2.660e+00 4.800e-01 5.330e+00
 2.670e+00 3.600e-01 3.960e+00 1.910e+00 1.100e+00 1.200e+00 3.080e+00
 2.690e+00 1.400e-01 2.540e+00 2.130e+00 8.100e-01 3.800e-01 4.400e-01
 2.120e+00 3.150e+00 1.250e+00       nan 4.000e-02 2.230e+00 2.470e+00
 1.000e-02 1.690e+00 3.000e+00 2.000e-02 4.360e+00 1.980e+00 1.000e-01
 3.810e+00 2.490e+00 5.000e-02 1.580e+00 3.140e+00 6.600e-01 2.730e+00
 3.630e+00 9.800e-01 2.200e-01 1.450e+00 1.310e+00 7.000e-01 2.420e+00
 6.000e-01 1.400e+00 1.420e+00 1.390e+00 1.270e+00 8.700e-01 1.700e-01
 1.900e-01 9.400e-01 2.100e-01 1.600e+00 1.030e+00 2.500e-01 1.600e-01
 2.060e+00 1.490e+00 1.290e+00 9.000e-02 2.870e+00 3.000e-02 8.300e-01
 7.800e-01 2.330e+00 4.350e+00 2.020e+00 1.360e+00 1.810e+00 1.970e+00
 9.100e-01 9.900e-01 9.500e-01 2.000e+00 1.010e+00 2.780e+00 2.110e+00
 1.090e+00 2.000e-01 3.610e+00 1.570e+00 2.200e+00 1.890e+00 1.700e+00
 1.080e+00 1.500e-01 1.110e+00 8.000e-01 2.900e-01 1.540e+00 1.200e-01
 8.900e-01 4.870e+00 1.520e+00 1.320e+00 1.150e+00 1.440e+00 4.100e+00
 4.600e-01 1.050e+00 1.610e+00 2.600e-01 1.380e+00 7.200e-01 6.200e-01
 1.800e-01 5.700e-01 5.800e-01 3.100e-01 1.760e+00 3.700e-01 2.100e+00
 9.000e-01 5.100e-01 6.400e-01 2.460e+00 9.200e-01 1.070e+00 2.620e+00
 1.120e+00 5.400e-01 7.300e-01 2.700e-01 5.900e-01 3.670e+00 5.500e-01
 4.000e-01 1.750e+00 3.440e+00 3.300e-01 2.550e+00 7.400e-01 8.200e-01
 2.320e+00 7.600e-01 7.700e-01 3.180e+00 2.350e+00 3.190e+00 9.300e-01
 8.800e-01 3.030e+00 4.500e-01 1.160e+00 1.190e+00 3.400e-01 1.130e+00
 6.800e-01 1.960e+00 7.100e-01 1.040e+00 2.680e+00 2.650e+00 9.600e-01
 2.410e+00 5.200e-01 2.430e+00 1.340e+00 1.480e+00 2.340e+00 1.060e+00
 1.210e+00 2.280e+00 1.630e+00 2.050e+00 2.170e+00 1.560e+00 1.350e+00
 6.300e-01 7.500e-01 7.900e-01 5.300e-01 1.530e+00 1.300e+00 1.460e+00
 1.330e+00 3.900e-01 6.900e-01 4.200e-01 5.600e-01 8.400e-01 3.200e-01

각각 값이 잘못 들어가 있는 경우를 좀 볼 수 있다.

In [9]:
df.describe()

,Rank,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,12099.000000,10870.000000,6141.000000,10123.000000,16596.000000
mean,8300.605254,0.363084,0.223942,0.210210,0.078818,0.537498
std,4791.853933,0.937693,0.610455,0.480352,0.236416,1.555113
min,1.000000,0.010000,0.010000,0.010000,0.010000,0.010000
25%,4151.250000,0.060000,0.020000,0.030000,0.010000,0.060000
50%,8300.500000,0.140000,0.070000,0.070000,0.030000,0.170000
75%,12449.750000,0.350000,0.200000,0.190000,0.070000,0.470000
max,16600.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [10]:
df[df["Year"]=="Adventure"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
11593,11595,Boku no Natsuyasumi 3: Hokkoku Hen: Chiisana B...,2007,Adventure,Sony Computer Entertainment,NaN,NaN,0.08,NaN,0.08,NaN
13538,13540,B's-LOG Party??PSP,2010,Adventure,Idea Factory,NaN,NaN,0.04,NaN,0.04,NaN

In [11]:
df.iloc[11593, [2, 3, 4]] = list(df.iloc[11593, [4, 2, 3]])
df.iloc[13538, [2, 3, 4]] = list(df.iloc[13538, [4, 2, 3]])

In [12]:
df[df[["Year"]].isnull().any(axis=1)].head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,NaN,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,NaN,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,NaN,0.03,2.53

In [13]:

df_temp = df[df["Genre"] == "Sports"]
df_temp.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
13,14,Wii Fit,Wii,2007,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
77,78,FIFA 16,PS4,2015,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49

In [14]:
def year_function(row):
    if row[4] == "Sports":
        text = row[1].split()[-1]
        if text.isdigit() and (1960 <= int(text) <= 2022):
            return str(int(text) - 1)
        else:
            return row[3]
    else:
        return row[3]

df_temp["Year"] = df_temp.apply(year_function, axis = 1)

In [15]:
df_temp.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
13,14,Wii Fit,Wii,2007,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
77,78,FIFA 16,PS4,2015,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49

In [16]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2346 entries, 0 to 16587
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          2346 non-null   int64
 1   Name          2346 non-null   object
 2   Platform      2346 non-null   object
 3   Year          2315 non-null   object
 4   Genre         2346 non-null   object
 5   Publisher     2317 non-null   object
 6   NA_Sales      1852 non-null   float64
 7   EU_Sales      1573 non-null   float64
 8   JP_Sales      600 non-null    float64
 9   Other_Sales   1588 non-null   float64
 10  Global_Sales  2346 non-null   float64
dtypes: float64(5), int64(1), object(5)
memory usage: 219.9+ KB

In [17]:
df_sorted = df.sort_values(by = [df.columns[1], df.columns[3]], ascending = False, na_position = "first")
df_sorted.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9135,9137,¡Shin Chan Flipa en colores!,DS,2007,Platform,505 Games,NaN,NaN,0.14,NaN,0.14
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,NaN,0.41,3.00
7835,7837,uDraw Studio: Instant Artist,Wii,2011,Misc,THQ,0.08,0.09,NaN,0.02,0.19
15523,15526,uDraw Studio: Instant Artist,X360,2011,Misc,THQ,0.01,0.01,NaN,NaN,0.02
627,628,uDraw Studio,Wii,2010,Misc,THQ,1.67,0.58,NaN,0.20,2.46

In [18]:
df_sorted[df_sorted["Name"] == "Madden NFL 07"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2484,2486,Madden NFL 07,PSP,NaN,Sports,NaN,0.77,0.03,NaN,0.04,0.83
240,241,Madden NFL 07,PS2,2006,Sports,Electronic Arts,3.63,0.24,0.01,0.61,4.49
964,966,Madden NFL 07,X360,2006,Sports,Electronic Arts,1.66,NaN,0.01,0.13,1.80
2037,2039,Madden NFL 07,XB,2006,Sports,Electronic Arts,0.97,0.03,NaN,0.03,1.02
3246,3248,Madden NFL 07,GC,2006,Sports,Electronic Arts,0.48,0.13,NaN,0.02,0.62
3862,3864,Madden NFL 07,PS3,2006,Sports,Electronic Arts,0.47,NaN,0.01,0.04,0.52
3975,3977,Madden NFL 07,Wii,2006,Sports,Electronic Arts,0.46,NaN,NaN,0.04,0.50
7277,7279,Madden NFL 07,DS,2006,Sports,Electronic Arts,0.20,NaN,NaN,0.02,0.22
14814,14817,Madden NFL 07,GBA,2006,Sports,Electronic Arts,0.02,0.01,NaN,NaN,0.03

In [19]:
def general_year_function(row):
    if str(row[3]) == "nan":
        text = str(df_sorted[df_sorted["Name"] == row[1]].iloc[-1][3])
        if text.isdigit():
            return df_sorted[df_sorted["Name"] == row[1]].iloc[-1][3]
    else:
        return row[3]

In [20]:
df_sorted["Year"] = df_sorted.apply(general_year_function, axis = 1)
df_sorted[df_sorted["Name"] == "Madden NFL 07"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2484,2486,Madden NFL 07,PSP,2006,Sports,NaN,0.77,0.03,NaN,0.04,0.83
240,241,Madden NFL 07,PS2,2006,Sports,Electronic Arts,3.63,0.24,0.01,0.61,4.49
964,966,Madden NFL 07,X360,2006,Sports,Electronic Arts,1.66,NaN,0.01,0.13,1.80
2037,2039,Madden NFL 07,XB,2006,Sports,Electronic Arts,0.97,0.03,NaN,0.03,1.02
3246,3248,Madden NFL 07,GC,2006,Sports,Electronic Arts,0.48,0.13,NaN,0.02,0.62
3862,3864,Madden NFL 07,PS3,2006,Sports,Electronic Arts,0.47,NaN,0.01,0.04,0.52
3975,3977,Madden NFL 07,Wii,2006,Sports,Electronic Arts,0.46,NaN,NaN,0.04,0.50
7277,7279,Madden NFL 07,DS,2006,Sports,Electronic Arts,0.20,NaN,NaN,0.02,0.22
14814,14817,Madden NFL 07,GBA,2006,Sports,Electronic Arts,0.02,0.01,NaN,NaN,0.03

In [21]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 9135 to 4754
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16451 non-null  object
 4   Genre         16598 non-null  object
 5   Publisher     16335 non-null  object
 6   NA_Sales      12099 non-null  float64
 7   EU_Sales      10870 non-null  float64
 8   JP_Sales      6141 non-null   float64
 9   Other_Sales   10123 non-null  float64
 10  Global_Sales  16596 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.5+ MB

In [22]:
df_sorted["Year"] = df_sorted.apply(year_function, axis = 1)

In [23]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 9135 to 4754
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16455 non-null  object
 4   Genre         16598 non-null  object
 5   Publisher     16335 non-null  object
 6   NA_Sales      12099 non-null  float64
 7   EU_Sales      10870 non-null  float64
 8   JP_Sales      6141 non-null   float64
 9   Other_Sales   10123 non-null  float64
 10  Global_Sales  16596 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.5+ MB

In [24]:
df = df_sorted.sort_index(ascending = False)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,NaN,NaN,NaN,0.01
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,NaN,0.01,NaN,NaN,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,NaN,NaN,NaN,NaN,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,NaN,NaN,NaN,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,NaN,NaN,NaN,0.01

In [25]:
df_groupby = df['Year'].groupby(df['Platform']).value_counts()
print(df_groupby)

Platform  Year
2600      1981    46
          1982    36
          1983    11
          1980     9
          1987     6
                  ..
XB        2008     1
XOne      2015    79
          2014    62
          2016    53
          2013    19
Name: Year, Length: 251, dtype: int64

In [26]:
df_temp = df[df[["Year"]].isnull().any(axis=1)][df["Platform"] == "2600"]
df_temp

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
8760,8762,Home Run,2600,None,Sports,Atari,0.14,0.01,NaN,NaN,0.15
7370,7372,Breakaway IV,2600,None,Puzzle,Sears,0.20,0.01,NaN,NaN,0.21
7369,7371,Ghostbusters II,2600,None,Action,Activision,0.20,0.01,NaN,NaN,0.21
6316,6318,Flag Capture,2600,None,Action,Atari,0.25,0.02,NaN,NaN,0.27
6283,6285,Indy 500,2600,None,Racing,Atari,0.26,0.01,NaN,NaN,0.27
5798,5800,Slot Machine,2600,None,Action,Atari,0.29,0.02,NaN,NaN,0.31
5657,5659,Dragster,2600,None,Racing,Activision,0.30,0.02,NaN,NaN,0.32
5061,5063,Hangman,2600,None,Puzzle,Atari,0.35,0.02,NaN,NaN,0.38
4469,4471,Super Breakout,2600,None,Puzzle,Atari,0.41,0.03,NaN,NaN,0.44
4378,4380,Maze Craze: A Game of Cops 'n Robbers,2600,None,Action,Atari,0.42,0.02,NaN,NaN,0.45
4232,4234,Circus Atari,2600,None,Action,Atari,0.43,0.03,NaN,NaN,0.46
4151,4153,Karate,2600,None,Fighting,Ultravision,0.44,0.03,NaN,NaN,0.47
3880,3882,Fishing Derby,2600,None,Sports,Activision,0.48,0.03,NaN,0.01,0.51
2113,2115,Air-Sea Battle,2600,None,Shooter,Atari,0.91,0.06,NaN,0.01,0.98
1585,1587,Combat,2600,None,Action,Atari,1.17,0.07,NaN,0.01,1.25
1513,1515,Adventure,2600,None,Adventure,Atari,1.21,0.08,NaN,0.01,1.30

In [27]:
df_year = df[['Platform','Year']].sort_values(by= 'Platform')

In [28]:
df_temp = df[df[["Year"]].isnull().any(axis=1)][df["Platform"] == "Wii"]
df_temp

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15811,15814,Ferrari: The Race Experience,Wii,None,Racing,System 3 Arcade Software,NaN,0.01,NaN,NaN,0.02
15476,15479,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,None,Racing,NaN,NaN,NaN,0.02,NaN,0.02
15197,15200,Saint,Wii,None,Shooter,NaN,0.02,NaN,NaN,NaN,0.02
14999,15002,Wii de Asobu: Metroid Prime,Wii,None,Shooter,Nintendo,NaN,NaN,0.02,NaN,0.02
14997,15000,Wii de Asobu: Metroid Prime,Wii,None,Shooter,Nintendo,NaN,NaN,0.02,NaN,0.02
14876,14879,Combat Wings: The Great Battles of WWII,Wii,None,Simulation,City Interactive,0.02,NaN,NaN,NaN,0.03
14046,14048,Swords,Wii,None,Fighting,NaN,0.03,NaN,NaN,NaN,0.04
12879,12881,Reader Rabbit 2nd Grade,Wii,None,Misc,NaN,0.05,NaN,NaN,NaN,0.05
12666,12668,Flip's Twisted World,Wii,None,Platform,NaN,0.05,NaN,NaN,NaN,0.06
12127,12129,Build-A-Bear Workshop: Friendship Valley,Wii,None,Misc,NaN,0.06,NaN,NaN,NaN,0.07
11409,11411,Zero: Tsukihami no Kamen,Wii,None,Action,Nintendo,NaN,NaN,0.08,NaN,0.08
10792,10794,The Daring Game for Girls,Wii,None,Adventure,NaN,0.09,NaN,NaN,0.01,0.10
9081,9083,Our House Party!,Wii,None,Simulation,NaN,0.13,NaN,NaN,0.01,0.14
8620,8622,Vegas Party,Wii,None,Misc,NaN,0.15,NaN,NaN,0.01,0.16
8044,8046,Trauma Team,Wii,None,Simulation,NaN,0.15,NaN,0.02,0.01,0.18
6966,6968,Big Beach Sports 2,Wii,None,Sports,THQ,0.09,0.12,NaN,0.03,0.23
6926,6928,DanceDanceRevolution II,Wii,None,Misc,Konami Digital Entertainment,0.22,NaN,NaN,0.02,0.24
5302,5304,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,None,Action,NaN,0.15,0.05,0.14,0.01,0.35
4536,4538,NHL Slapshot,Wii,None,Sports,NaN,0.40,NaN,NaN,0.02,0.43
782,784,Rock Band,Wii,None,Misc,MTV Games,1.35,0.56,NaN,0.20,2.11

In [29]:
df_temp['Year'] = [2010,2009,2009,2011,2011,2012,2007,1999,2010,2010,2008,2010,2009,2009,2010,2010,2011,2006,2010,2007]

In [30]:
df_temp

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15811,15814,Ferrari: The Race Experience,Wii,2010,Racing,System 3 Arcade Software,NaN,0.01,NaN,NaN,0.02
15476,15479,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,2009,Racing,NaN,NaN,NaN,0.02,NaN,0.02
15197,15200,Saint,Wii,2009,Shooter,NaN,0.02,NaN,NaN,NaN,0.02
14999,15002,Wii de Asobu: Metroid Prime,Wii,2011,Shooter,Nintendo,NaN,NaN,0.02,NaN,0.02
14997,15000,Wii de Asobu: Metroid Prime,Wii,2011,Shooter,Nintendo,NaN,NaN,0.02,NaN,0.02
14876,14879,Combat Wings: The Great Battles of WWII,Wii,2012,Simulation,City Interactive,0.02,NaN,NaN,NaN,0.03
14046,14048,Swords,Wii,2007,Fighting,NaN,0.03,NaN,NaN,NaN,0.04
12879,12881,Reader Rabbit 2nd Grade,Wii,1999,Misc,NaN,0.05,NaN,NaN,NaN,0.05
12666,12668,Flip's Twisted World,Wii,2010,Platform,NaN,0.05,NaN,NaN,NaN,0.06
12127,12129,Build-A-Bear Workshop: Friendship Valley,Wii,2010,Misc,NaN,0.06,NaN,NaN,NaN,0.07
11409,11411,Zero: Tsukihami no Kamen,Wii,2008,Action,Nintendo,NaN,NaN,0.08,NaN,0.08
10792,10794,The Daring Game for Girls,Wii,2010,Adventure,NaN,0.09,NaN,NaN,0.01,0.10
9081,9083,Our House Party!,Wii,2009,Simulation,NaN,0.13,NaN,NaN,0.01,0.14
8620,8622,Vegas Party,Wii,2009,Misc,NaN,0.15,NaN,NaN,0.01,0.16
8044,8046,Trauma Team,Wii,2010,Simulation,NaN,0.15,NaN,0.02,0.01,0.18
6966,6968,Big Beach Sports 2,Wii,2010,Sports,THQ,0.09,0.12,NaN,0.03,0.23
6926,6928,DanceDanceRevolution II,Wii,2011,Misc,Konami Digital Entertainment,0.22,NaN,NaN,0.02,0.24
5302,5304,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,2006,Action,NaN,0.15,0.05,0.14,0.01,0.35
4536,4538,NHL Slapshot,Wii,2010,Sports,NaN,0.40,NaN,NaN,0.02,0.43
782,784,Rock Band,Wii,2007,Misc,MTV Games,1.35,0.56,NaN,0.20,2.11

In [31]:
df[df['Year'].isnull()].head(30)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16427,16430,Virtua Quest,GC,None,Role-Playing,NaN,0.01,NaN,NaN,NaN,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,None,Adventure,NaN,0.01,NaN,NaN,NaN,0.01
16246,16249,Agarest Senki: Re-appearance,PS3,None,Role-Playing,Idea Factory,NaN,NaN,0.01,NaN,0.01
16194,16197,Shorts,DS,None,Platform,NaN,0.01,NaN,NaN,NaN,0.01
16191,16194,Homeworld Remastered Collection,PC,None,Strategy,NaN,NaN,0.01,NaN,NaN,0.01
...,...,...,...,...,...,...,...,...,...,...,...
1133,1135,Rock Band,PS3,None,Misc,Electronic Arts,0.99,0.41,NaN,0.22,1.62
782,784,Rock Band,Wii,None,Misc,MTV Games,1.35,0.56,NaN,0.20,2.11
649,650,Frogger's Adventures: Temple of the Frog,GBA,None,Adventure,Konami Digital Entertainment,2.15,0.18,NaN,0.07,2.39
624,625,Rock Band,X360,None,Misc,Electronic Arts,1.93,0.34,NaN,0.21,2.48
470,471,wwe Smackdown vs. Raw 2006,PS2,None,Fighting,NaN,1.57,1.02,NaN,0.41,3.00